.trackContainerItem {
  border-radius: 30px;
  padding: 16px;
  background-color: var(--background-color);
  max-width: 343px;
  min-width: 288px;
  width: 100%;
  height: 770px;
}

@media only screen and (min-width: 768px) {
  .trackContainerItem {
    padding: 32px;
    max-width: 100%;
    width: 704px;
    height: 738px;
  }
}

@media only screen and (min-width: 1440px) {
  .trackContainerItem {
    padding: 32px;
    width: 672px;
    height: 736px;
  }
}
