/* .toast {
  border: 1px solid #9be1a0;
   padding: 16px; 
  color: #2f2f2f;
} */

.settingsContainer {
  width: 100%;

  --color-main: #323f47;
  --color-main-text: #2f2f2f;
  --color-accent: #9be1a0;
  --color-input: rgba(47, 47, 47, 0.15);
  --color-error: red;

  --font-size-main: 16px;
  --font-size-main-text: 14px;

  --font-weight-main: 700;
  --font-weight-main-text: 400;

  --gap-section: 24px;
  --gap-inside-section: 14px;

  color: var(--color-main-text);
  font-size: var(--font-size-main-text);
  font-weight: var(--font-weight-main-text);
  line-height: 129%;
  letter-spacing: -0.01em;
  margin: 0 auto;
  padding-bottom: 40px;
}

.errorMessage {
  color: var(--color-error);
}

.settingsForm {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: var(--gap-section);
  margin-top: 40px;
}

.settingLabel {
  color: var(--color-main);
  font-size: var(--font-size-main);
  font-weight: var(--font-weight-main);
  line-height: 125%;
}

.settingInput {
  width: 100%;
  height: 46px;
  outline: none;
  font-size: var(--font-size-main-text);
  font-weight: var(--font-weight-main-text);
  background-color: white;
  border-radius: 15px;
  border: 1px solid var(--color-input);
  color: var(--color-main-text);
  padding: 14px 16px;
  margin-top: 8px;
  transition: border-color 0.3s, color 0.3s;
}

.settingInput::placeholder {
  color: blue;
}

.settingInput:focus {
  border-color: var(--color-main-text);
}
.settingInput.error {
  border-color: var(--color-error);
  color: var(--color-error);
}

/*********** Gender ***********/
.settingsGender {
  width: 166px;
  height: 54px;
  display: flex;
  flex-direction: column;
}

.radioButton {
  margin-top: var(--gap-inside-section);
  display: flex;
  gap: 20px;
}

.customRadio {
  display: flex;
  gap: 10px;
  align-items: center;

  cursor: pointer;
}

.inputRadio {
  display: none;
}

/********** settingsNameEmail**********/
.settingsNameEmailWrap,
.settingsWeightSport,
.settingsDailyNormaText,
.settingsDailyNormaInput {
  display: flex;
  flex-direction: column;
  gap: var(--gap-inside-section);
}

.labelInput {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/******* settingsDailyNormaText ********/
.normaCalculationExample {
  width: 154px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.normaCalculationGender {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.normaCalculationFormula {
  color: var(--color-accent);
  font-weight: var(--font-weight-main);
}

.normaCalculationTextAccent {
  color: var(--color-accent);
  margin-right: 4px;
}
.normaCalculationText {
  padding: 16px;
  border-radius: 15px;
  border: 1px solid var(--color-input);
  color: rgba(47, 47, 47, 0.6);
  font-size: var(--font-size-main-text);
}

/********* settingsDailyNormaRequired *******/
.dailyNormaRecomendedNumber {
  color: var(--color-accent);
  font-weight: var(--font-weight-main);
}

/***********button Save*************/
.formBtn {
  margin-top: 40px;
  width: 116px;
  height: 46px;
  border-radius: 30px;
  padding: 14px 40px;
  color: var(--color-main);
  font-size: var(--font-size-main-text);
  background-color: var(--color-accent);
  transition: background-color 0.3s, color 0.3s;
}

.formBtn:hover {
  background-color: #31e13c;
  color: black;
}

/********min-width: 768px*************/
@media only screen and (min-width: 768px) {
  .settingsContainer {
    /* width: 568px; */

    --font-size-main: 18px;
    --font-size-main-text: 16px;

    line-height: 150%;
  }

  /* .settingsForm {
    width: 568px;
  } */

  .settingLabel {
    line-height: 133%;
  }

  .settingInput {
    height: 56px;
  }
  .settingsGender {
    width: 187px;
    height: 62px;
  }
  .normaCalculationExample {
    display: flex;
    flex-direction: row;
    width: 368px;
    height: 52px;
    gap: 28px;
    padding: 0;
  }
  .dailyNormaRecomended {
    display: flex;
    flex-direction: row;
    gap: 6px;
  }
  .dailyNormaRecomendedNumber {
    font-size: 15px;
  }

  .formBtn {
    width: 141px;
    height: 56px;
    padding: 16px 50px;
  }
}

/*************min-width: 1440px*******************/
@media (min-width: 1440px) {
  .settingsForm {
    width: 840px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 62px 215px 305px;
    grid-column-gap: 40px;
    grid-row-gap: 24px;
  }

  .settingsFormError {
    grid-template-rows: 62px 270px 305px;
  }

  .settingsFormError .labelInput {
    height: 1250px;
  }

  .labelInput {
    height: 88px;
  }

  /* .settingsGender,
  .settingsNameEmailWrap,
  .settingsDailyNormaText,
  .settingsWeightSport,
  .settingsDailyNormaInput {
    background-color: aqua;
    border: 1px solid blue;
  } */

  .settingsGender {
    grid-column: 1;
    grid-row: 1;
  }
  .settingsNameEmailWrap {
    grid-column: 1;
    grid-row: 2;
  }
  .settingsDailyNormaText {
    grid-column: 1;
    grid-row: 3;
  }

  .settingsWeightSport {
    grid-column: 2;
    grid-row: 2;
  }

  .settingsDailyNormaInput {
    grid-column: 2;
    grid-row: 3;
  }
}
