.logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #323f47;
  transition: color 300ms ease-in-out;
}

.logoTrackerPage {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #323f47;
  transition: color 300ms ease-in-out;
}

.logoTrackerPage:hover,
.logoTrackerPage:focus {
  text-decoration: underline;
}

.logo:hover,
.logo:focus {
  color: #87d28d;
}
