.waterForm {
  display: flex;
  flex-direction: column;
}
.waterCounter {
  display: flex;
  gap: 8px;
  margin: 8px 0 16px;
}

p,
.saveBtn {
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
}

.waterAmount {
  display: flex;
  border-radius: 30px;
  align-items: center;
  justify-content: center;
  width: 81px;
  height: 40px;
  color: #fff;
  background-color: #323f47;
}

.waterCountBtn {
  border-radius: 30px;
  border: 1.5px solid var(--main);
  background-color: inherit;
}

.waterInput {
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.01em;
  color: #323f47;
}
.timeInput,
.amountInput {
  border: 1px solid rgba(47, 47, 47, 0.15);
  border-radius: 15px;
  padding: 0 16px;
  width: 303px;
  height: 46px;
  margin: 8px 0 24px;
}

.saveBtn {
  border-radius: 30px;
  padding: 14px 40px;
  width: 116px;
  height: 46px;
  background-color: #9be1a0;
  color: #323f47;
  font-weight: 700;
  text-align: center;
  transition: background-color 0.3s ease-in-out;
}

.saveBtn:hover {
  background-color: #87d28d;
}

.error {
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  color: rgb(170, 19, 19);
}

.counterIcon {
  fill: none;
  stroke: #323f47;
}

p,
.noSaveBtn {
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
}

.noSaveBtn {
  border-radius: 30px;
  padding: 14px 40px;
  width: 116px;
  height: 46px;
  background-color: #585e5a;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
  transition: background-color 0.3s ease-in-out;
}
