.boxUserBar {
    position: relative;
    display: flex;
    align-items: center;
}

.btnUserBar {
    min-width: 137px;
    height: 50px;
    background-color:#323f47;
    border-radius: 30px;
    padding: 6px 12px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.btnUserBar:hover .userName {
    color:  #9be1a0;
    transition: 0.3s;
}

.btnUserBar:hover>.staticPositionIcon {
    stroke:  #9be1a0;
    fill: none;
    transition: 0.3s;
}

.userName {
    min-width: 43px;
    height: 18px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.01em;
    text-align: center;
    color: #fff;
}

.avatar {
    width: 38px;
    height: 38px;
    border-radius: 50%;
}

.staticPositionIcon {
    stroke:  #fff;
    fill: none;
    width: 10px;
    height: 10px;
    transform: rotate(0deg);
    transition: 0.3s;
}

.activeRotateIcon {
    transform: rotate(180deg);
    transition: 0.3s;
}

@media screen and (min-width: 768px) {
    .btnUserBar {
        min-width: 157px;
        height: 56px;
        gap: 10px;
    }

    .userName {
        min-width: 49px;
        height: 24px;
        font-size: 16px;
        line-height: 150%;
    }
    
    .avatar {
        width: 44px;
        height: 44px;
    }

    .staticPositionIcon {
        width: 12px;
        height: 12px;
        transform: rotate(0deg);
        transition: 0.3s;
    }

    .activeRotateIcon {
        transform: rotate(180deg);
        transition: 0.3s;
    }
}