.formContainer {
  width: 343px;
  height: 780px;
  border-radius: 30px;
  background-color: #f0eff4;
  padding: 24px 16px;
}

.formTitle {
  font-weight: 700;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.01em;
  color: #323f47;
  margin-bottom: 32px;
}

.form {
  display: flex;
  flex-direction: column;
  margin-top: 126px;
}

.labelWrap {
  margin-bottom: 32px;
}

.formLabel {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.01em;
  color: #2f2f2f;
}

.formLabel:not(:last-child) {
  margin-bottom: 16px;
}

.formInput {
  border: 1px solid rgba(47, 47, 47, 0.2);
  border-radius: 15px;
  padding: 16px;
  width: 311px;
  outline: transparent;
  background-color: transparent;
}

.formInput:focus {
  border-color: rgba(47, 47, 47, 0.4);
}

.formInput::placeholder {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.01em;
  color: rgba(47, 47, 47, 0.6);
}

.icon {
  display: none;
}

.formBtn {
  width: max-content;
  border-radius: 30px;
  padding: 16px 129px;
  background-color: #9be1a0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.01em;
  text-align: center;
  color: #323f47;
  margin-bottom: 16px;
  transition: background-color 300ms ease-in-out;
}

.formBtn:hover,
.formBtn:focus {
  background-color: #87d28d;
}

.error {
  font-size: 8px;
  line-height: 1.29;
  letter-spacing: -0.01em;
  color: #de1717;
}

.formLink {
  text-align: center;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.01em;
  color: rgba(47, 47, 47, 0.5);
}

.linkSignIn {
  font-weight: 700;
  text-decoration: underline;
  color: #2f2f2f;
}

@media screen and (min-width: 768px) {
  .formContainer {
    display: flex;
    flex-direction: column;
    width: 704px;
    height: 960px;
    padding: 32px 32px;
  }

  .form {
    margin: 0 auto;
    margin-top: 171px;
  }

  .formTitle {
    font-size: 36px;
    line-height: 1.06;
    letter-spacing: -0.01em;
  }

  .formLabel {
    font-size: 16px;
    line-height: 1.5;
  }

  .formLabel:not(:last-child) {
    margin-bottom: 20px;
  }

  .inputWrap {
    position: relative;
    display: flex;
    align-items: center;
  }

  .formInput {
    padding: 16px;
    width: 436px;
    background-color: transparent;
  }

  .formInput::placeholder {
    font-size: 16px;
    line-height: 1.5;
  }

  .icon {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    right: 16px;
    cursor: pointer;
  }

  .icon svg {
    fill: transparent;
    stroke: #2f2f2f;
  }

  .formBtn {
    padding: 18px 189px;
    font-size: 16px;
    line-height: 1.5;
  }

  .error {
    font-size: 12px;
  }

  .formLink {
    font-size: 16px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 1440px) {
  .formContainer {
    width: 672px;
    height: 736px;
  }

  .form {
    margin-top: 74px;
  }
}

@media screen and (max-width: 1439px) {
  .formContainer {
    margin: 0 auto;
  }
}
