.addWaterBtn2 {
  width: 124px;
  height: 30px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0;

  font-family: 'Poppins', sans-serif;
  color: #323f47;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: -0.01em;

  border: none;
  cursor: pointer;

  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.addWaterBtn2:hover .addWaterIconPath {
  stroke: #fff;
}

.addWaterIconBackground {
  fill: #9be1a0;
}

.addWaterBtn2:hover .addWaterIconBackground {
  fill: #323f47;
}

.addWaterIconPath {
  stroke: #323f47;
  fill: none;
  transition: fill 0.3s ease-in-out, stroke 0.3s ease-in-out;
}
