container {
  min-width: 768px;
  padding: 0 32px;
}

@media screen and (min-width: 768px) {
  .container {
    min-width: 768px;
    padding: 0 32px;
  }

  .main {
    display: flex;
    flex-direction: column;
  }

  .right-sections {
    display: flex;
    flex-direction: row;
    gap: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    min-width: 1440px;
    padding: 0 24px;
  }

  .main {
    display: flex;
    flex-direction: row;
  }

  .right-sections {
    flex-direction: column;
    gap: 86px;
  }
}
