:root {
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

li,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

section {
  min-width: 320px;
  width: 375px;
  margin: 0 auto;
  padding: 16px;
}

@media screen and (min-width: 768px) {
  section {
    min-width: 768px;
    padding: 32px;
  }
}

@media screen and (min-width: 1440px) {
  section {
    min-width: 1440px;
  }
}
